#about-image {
    width: 200px;
    float: left;
    margin: 0 20px 10px 0;
}
#contact-jumbo{
    margin: 10px auto;
    padding: 10px;
    width: 75%;
    text-align: center;
}
#email{
    font-weight: bold;
}
#home-img{
    width:100%;
}
#resume{
    min-width: 850px;
    min-height: 1100px;
}
#headerName{
    margin: auto;
    font-size: 35px;
}
#headerTitle{
    margin: auto;
    border-top: solid white 1px;
}
.Github{
    width: 50px;
}
.contact-img{
    width:75px;
    margin: 10px;
}
.nav-link{
    border: outset 2px grey;
    border-radius: 5px;
    margin: 0 5px;
}
.active{
    border: inset 2px grey;
    border-radius: 5px;
    margin: 0 5px;
}